    .pink {
        background-color: pink;
    }

    .root-div {
        margin-left: 250px;
        margin-right: 250px;
        margin-bottom: 20px;
    }

    .header {
        text-align: center;
        margin: 50px 10px auto;
        padding: 0 auto;
    }

    .head-block {
        width: 33%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    .head-block>span {
        color: green;
    }

    .pattern-data {
        text-align: center;
    }

    .color-section {
        width: 100px;
        height: 40px;
        margin-left: auto;
        margin-right: 0px;
    }

    .forward {
        background: #0098f5;
    }

    .reverse {
        background: #001df5;
    }

    .combined {
        background: #000a85;
    }

    .buff {
        background: #58afda;
    }

    .pattern-passes {
        width: 30%;
        display: inline-block;
        vertical-align: top;
    }

    .pattern-colors {
        width: 38%;
        display: inline-block;
        vertical-align: top;
        text-align: right;
        margin-left: auto;
        margin-right: 10px;
    }

    .pattern-graphs {
        width: 30%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }

    .overhead-graph {
        width: 100%;
    }

    .board {
        width: 9px;
        height: 11px;
        border-right: 1px solid black;
        border-left: 1px solid black;
        background: #fdd177;
    }

    .board.forward {
        background: #0098f5;
    }

    .board.reverse {
        background: #001df5;
    }

    .board.forward.reverse {
        background: #000a85;
    }

    .board.buff {
        background: #58afda;
    }

    .board-wide {
        width: 27px;
        height: 11px;
        border-right: 1px solid black;
        border-left: 1px solid black;
        background: #fdd177;
    }

    .lane-foot:first-child {
        border-top: 1px solid black;
    }

    .lane-foot:last-child {
        border-bottom: 1px solid black;
    }

    .lane-foot:nth-child(5n+1) {
        border-top: 1px solid black;
    }
